# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
ENV/

# Executables (FFmpeg, PhantomJS, etc.)
*.exe
*.dll

# App Specific
output/
titanium_config.json

# IDEs
.vscode/
.idea/

# OS specific
Thumbs.db
desktop.ini
